<!DOCTYPE html>
<html>
  <head>
    <title>Usuarios Registrados</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Usuarios Registrados</h1>
   
    <button onclick="history.back()">Volver</button>
    </br>
    </br>

    <table>
       <th>Nombre</th>
       <th>Apellido</th>
       <th>Email</th>
       <th>Contrase&ntilde;a</th>

      <% for (var i in usuarios) { %>
        <tr>
          <td><%= usuarios[i].name %></td>
          <td><%= usuarios[i].lastname %></td>
          <td><%= usuarios[i].email %></td>
          <td><%= usuarios[i].password %></td>
        </tr>
      <% } %>
    </table>



  </body>
</html>