<!DOCTYPE html>
<html>
  <head>
    <title>Usuario Registrado</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Gracias por registrarte, <%= nombreUsuario %></h1>
    </br>
    </br>
    <button onclick="history.back()">Volver</button>

  </body>
</html>